@font-face {
	font-family: "Courier Prime Code";
	src: url(Courier\ Prime\ Code.ttf);
}

:root {
	--background-colour: #111111;
	--gradient: linear-gradient(#e1d48b, #e4cf82);
	--text-colour: #76b8df;
	--visited-link-colour: #ea71f6;
	--heading-font-weight: 500;
}

body {
	background: var(--background-colour);
	color: var(--text-colour);
	text-align: center;
	font-family: "Courier Prime Code";
	font-size: 30px;
}

h1 {
	text-decoration: none;
	font-weight: var(--heading-font-weight);
	font-size: 50px;
}

h2 {
	font-weight: var(--heading-font-weight);
}

a {
	color: var(--text-colour);
}

/* a:hover code found in https://stackoverflow.com/questions/8384751/css-text-gradient */
a:hover {
	background: var(--gradient);
	color: transparent;
	background-clip: text;
}

a:visited {
	color: var(--visited-link-colour);
}

::selection {
	color: var(--background-colour);
	background: var(--text-colour);
}