ul {
	padding: 0;
	margin: 0;
	line-height: 1.6;
	list-style-type: none;
}

footer {
	background-color: var(--background-colour);
	text-align: center;
	font-size: small;
	position: fixed;
	bottom: -0.5%;
	width: 100%;
}
