@font-face {
	font-family: "Courier Prime Code";
	src: url(../CourierPrimeCode.ttf);
}

:root {
	--background-colour: #0a0a0a;
	--text-colour: #76b8df;
	--border: 2px solid var(--text-colour);
	--border-radius: 0.15em;
}

::selection {
	color: var(--background-colour);
	background: var(--text-colour);
}

/* Multiple selectors */

body, a {
	color: var(--text-colour);
}

body, button {
	font-family: "Courier Prime Code";
	font-size: 2.41rem;
}

h1, h2 {
	font-weight: 500;
}

button, summary {
	cursor: pointer;
}

nav>ul>li, .horizontal-li li {
	display: inline;
}

/* Text gradient code found in https://stackoverflow.com/questions/8384751/css-text-gradient */
a:hover, a:focus-visible, .dropdown:hover {
	background: linear-gradient(#e1d48b, #e4cf82);
	color: transparent;
	background-clip: text;
	text-decoration: none;
}

/* Individual selectors */

body {
	background: var(--background-colour);
}

header {
	text-align: center;
}

/* h1 & h2 margins */

h1 {
	margin-bottom: 0;
}

h2 {
	margin: 0.3em 0;
}

/* Bullet points */

nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

li {
	line-height: 1.6;
}

/* Dropdown */

.dropdown {
	cursor: default;
	position: relative;
	display: inline-block;
	text-decoration: underline;
}

.dropdown ul {
	background-color: var(--background-colour);
	border: var(--border);
	border-radius: var(--border-radius);
	display: none;
	position: absolute;
	width: 100%;
}

.dropdown:hover ul {
	display: block;
}

/* Buttons */

button {
	background-color: transparent;
	border: var(--border);
	color: var(--text-colour);
	margin: 0.14em auto;
	padding: 0.15em;
	border-radius: var(--border-radius);
}

button:hover, button:focus-visible {
	background-color: var(--text-colour);
	color: var(--background-colour);
}

/* Links */

a:visited {
	color: #ea71f6;
}

/* Hide specific elements if JavaScript is disabled */
[id="expand-collpase-all"] {
	display: none;
}
