@font-face {
	font-family: "Courier Prime Code";
	src: url(../CourierPrimeCode.ttf);
}

:root {
	--background-colour: #111111;
	--gradient: linear-gradient(#e1d48b, #e4cf82);
	--text-colour: #76b8df;
	--visited-link-colour: #ea71f6;
	--heading-font-weight: 500;
}

::selection {
	color: var(--background-colour);
	background: var(--text-colour);
}

/* Modifying multiple elements */

body, a {
	color: var(--text-colour);
}

h1, h2 {
	font-weight: var(--heading-font-weight);
}

.projects, .socials {
	line-height: 1.2em;
}

/* Modifying individual elements*/

body {
	background: var(--background-colour);
	text-align: center;
	font-family: "Courier Prime Code";
	font-size: 2.18rem;
}

.projects p {
	line-height: 0.85em;
}

.socials p {
	line-height: 1.6;
}

/* a:hover code found in https://stackoverflow.com/questions/8384751/css-text-gradient */
a:hover {
	background: var(--gradient);
	color: transparent;
	background-clip: text;
}

a:visited {
	color: var(--visited-link-colour);
}