@font-face {
	font-family: "Courier Prime Code";
	src: url(fonts/CourierPrimeCode.ttf);
}

:root {
	--background-colour: #0a0a0a;
	--text-colour: #76b8df;
}

::selection {
	color: var(--background-colour);
	background: var(--text-colour);
}

:focus-visible {
	outline: 2px solid var(--text-colour);
	border-radius: 0.05em;
}

/* Multiple selectors */

body, a {
	color: var(--text-colour);
}

h1, h2 {
	font-weight: 500;
}

/* Individual selectors */

body {
	background: var(--background-colour);
	font-family: "Courier Prime Code";
	font-size: 2.41rem;
}

header {
	text-align: center;
}

h1 {
	margin-bottom: 0;
}

h2 {
	margin: 0.3em 0;
}

div {
	line-height: 1.3em;
}

summary {
	cursor: pointer;
}

/* Text gradient code found in https://stackoverflow.com/questions/8384751/css-text-gradient */
a:hover, a:focus-visible {
	background: linear-gradient(#e1d48b, #e4cf82);
	color: transparent;
	background-clip: text;
}

a:visited {
	color: #ea71f6;
}
